<%= content_for(:title, "Teams") %>

<h1>Teams</h1>

<ul>
  <% @teams.each do |team| %>
    <li>
      <%= link_to team.name, team_path(team) %>
      <div class = "edit_link">
        <%= link_to "edit", edit_team_path(team) %>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to "Make a new Team", new_team_path %>