<%= content_for(:title, "Teams") %>

<h1>Teams</h1>

<ul>
  <% @teams.each do |team| %>
    <li>
      <%= link_to team.name, team_path(team) %>
    </li>
  <% end %>
</ul>

<ul class="nav nav-pills">
  <li class="active">
    <%= make_new Team %>
  </li>
</ul>
