<%= content_for(:title, "Projects") %>

<h1>Projects</h1>

<ul>
  <% @projects.each do |project| %>
    <li>
      <%= link_to project.name, project_path(project) %>
    </li>
  <% end %>
</ul>
<ul class="nav nav-pills">
  <li class="active">
    <%= make_new Project %>
  </li>
</ul>
<%= back_to Team %>
